<html>
<head>
    <title>User: <%= benutzer[0].id %></title>
    <meta charset="utf-8">
</head>
<body>
    <h1>User</h1>
    <ul>
    <li>
        Name: <%= benutzer[0].name %></li></ul>
</body>
</html>