<html>
    <head>
        <title>Bibliothek Verleihsystem</title>
        <link rel="stylesheet" href="../source/css/style.css">
    </head>
<body>
    <a clas="test" href="/users">Benutzer</a>
    <a href="/libraries">Bibliotheken</a>
</body>
</html>