<html>
<head>
    <title>Bibliotheken</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Bibliotheken</h1>
    <table border="1">
        
        <%
            for(var i = 0;i < library.length; i++){
                %><tr><td><%= library[i].title %></td><td><%=library[i].location %></td></tr><%
            }
        %>
    </table>
    <% if(library[0].libId == "undefined"){ %><p>Das System verfügt über keine Bibliotheken</p><% }%> 
</body>
</html>